:root {
    --primary-color: #8B4513;  /* Saddle Brown */
    --secondary-color: #4682B4;  /* Steel Blue */
    --background-color: #F5DEB3;  /* Wheat */
    --text-color: #2F4F4F;  /* Dark Slate Gray */
    --button-hover: #ea3e57;  /* Peru */
}

body {
    font-family: Arial, sans-serif;
 background-image: url("https://i.pinimg.com/originals/f5/79/f0/f579f0f701a9a31e24f233f363c193cc.gif");
 background-color: #ea3e57;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #ea3e57;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

#difficulty-selector {
    margin-bottom: 20px;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover);
}

#game-board {
display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1px;
    background-color: #000;
    border: 2px solid #000;
    width: 450px;
    height: 450px;
    margin: 20px auto;
}

.cell {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.cell:nth-child(3n) {
    border-right: 2px solid var(--text-color);
}

.cell:nth-child(9n) {
    border-right: none;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid var(--text-color);
}
.cell.initial {
    font-weight: bold;
    color: #000;
}

.cell.initial {
    color: var(--primary-color);
}

.cell.hint {
    color: #0000ff;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#number-pad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

#erase-btn {
    grid-column: span 2;
}

#controls {
    margin-bottom: 20px;
}


.cell.conflicting {
    background-color: #ffcccc;
}

.cell.hint {
    color: #0000FF; /* Blue color for hint numbers */
    font-weight: bold;
}
